{
  "isvalid": "true",
  "machines": [
    {
      "machine_id": "55a020c880b997492d660a23",
      "gpio_id_in": "21",
      "gpio_id_out": "22",
      "gpio_active": true,
      "_id": "55a0217980b997492d660a26"
    },
    {
      "machine_id": "55a020f780b997492d660a24",
      "gpio_id_in": "8",
      "gpio_id_out": "9",
      "gpio_active": true,
      "_id": "55a0219080b997492d660a27"
    },
    {
      "machine_id": "5623bc2ec1b957ac098139e8",
      "gpio_id_in": "18",
      "gpio_id_out": "19",
      "gpio_active": true,
      "_id": "5623bc6cc1b957ac098139eb"
    },
    {
      "machine_id": "5623d6b9c1b957ac09813a07",
      "gpio_id_in": "12",
      "gpio_id_out": "13",
      "gpio_active": true,
      "_id": "5623d720c1b957ac09813a0a"
    },
    {
      "machine_id": "5623d0cdc1b957ac098139f7",
      "gpio_id_in": "6",
      "gpio_id_out": "7",
      "gpio_active": true,
      "_id": "5623e16cc1b957ac09813a19"
    },
    {
      "machine_id": "5623d076c1b957ac098139f3",
      "gpio_id_in": "6",
      "gpio_id_out": "7",
      "gpio_active": true,
      "_id": "5623e25fc1b957ac09813a1d"
    },
    {
      "machine_id": "5623d076c1b957ac098139f3",
      "gpio_id_in": "6",
      "gpio_id_out": "7",
      "gpio_active": true,
      "_id": "5623e270c1b957ac09813a1e"
    },
    {
      "machine_id": "5623d076c1b957ac098139f3",
      "gpio_id_in": "6",
      "gpio_id_out": "7",
      "gpio_active": true,
      "_id": "5623e2a7c1b957ac09813a1f"
    },
    {
      "machine_id": "5623d076c1b957ac098139f3",
      "gpio_id_in": "23",
      "gpio_id_out": "24",
      "gpio_active": true,
      "_id": "5623e2ddc1b957ac09813a20"
    }
  ]
}